[submodule "SOC-V2"]
	path = SOC-V2
	url = http://bj-tfs:8080/tfs/BIACollection/RPA/_git/SOC-V2
	branch = master
[submodule "SOC-V2.2"]
	path = SOC-V2.2
	url = http://bj-tfs:8080/tfs/BIACollection/RPA/_git/SOC-V2.2
	branch = master
[submodule "AP-Automation"]
	path = AP-Automation
	url = http://bj-tfs:8080/tfs/BIACollection/RPA/_git/AP%20Automation
	branch = master
